*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #000;
	
}



li{
	display: inline-block;
	list-style: none;
}

header{
	background: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;	
	z-index: 10;
}

.navCnt{
	display: flex;
	justify-content: space-around;
	line-height: 50px;

}

.nav-menu{
	display: flex;
	justify-content: space-around;
}

.navElemt{
	margin: 0 20px;
	line-height: 70px;
	width: max-content;
	text-transform: uppercase;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
}

.navCnt a{
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
}

.nav-toggle{
	color: #fff;
	background: transparent;
	border: none;
	padding: 0 20px;
	font-size: 25px;

	line-height: 60px;
	display: none;
}
.navLink{
	padding: 5px;
}
.navLink:hover,
	.navLink_active{
		background-color: #478;
		transition: 0.5s;
	}


@media (max-width: 768px) {
	header{
		height: 50px;
		z-index: 100;
	}

	.navCnt{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	}

	.nav-menu{
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	margin: 0;
	background: #334;
	position: fixed;
	left: 0;
	top: 50px;
	width: 100%;

	overflow-y: auto;
	height: calc(100% - 50px);

	left: 100%;
	transition: left 0.3s;
	}

	.navLink:hover,
	.navLink_active{
		background-color: #034574;
		transition: 0.5s;
	}


	.logo{
		font-size: 20px;
		margin-left: 20px;
	}

	.navCnt a{
		color: #fff;
	}

	.nav-toggle{
		cursor: pointer;
		color: #fff;
		background: transparent;
		border: none;
		padding: 0 20px;
		font-size: 25px;
	    line-height: 30px;
		display: block;
	}

	.navVisible{
		left: 0;
	}
	.nav-toggle:focus:not(:focus-visible){
		outline: none;
	}

}




.waves-cnt{
	width: 100%;
	transform: rotate(180deg);
	z-index: -10;
}

.waves{
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.navCnt img{
    position: absolute;
    top: 10px;
    left: 13%;
    width: 50px;
    height: 50px;
}