*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
		background: linear-gradient(#151728, #000, #151728);
}



li{
	display: inline-block;
	list-style: none;
}

header{
	background: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;	
	z-index: 10;
}

.navCnt{
	display: flex;
	justify-content: space-around;
	line-height: 50px;

}


.navCnt img{
    position: relative;
    top: 5px;
    width: 50px;
    height: 40px;
}

.nav-menu{
	display: flex;
	justify-content: space-around;
}

.navElemt{
	margin: 0 20px;
	line-height: 70px;
	width: max-content;
	text-transform: uppercase;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
}

.navCnt a{
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
}

.nav-toggle{
	color: #fff;
	background: transparent;
	border: none;
	padding: 0 20px;
	font-size: 25px;

	line-height: 60px;
	display: none;
}
.navLink{
	padding: 5px;
}
.navLink:hover,
	.navLink_active{
		background-color: #478;
		transition: 0.5s;
	}


@media (max-width: 768px) {
	header{
		height: 50px;
		z-index: 100;
	}

	.navCnt{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	}

	.nav-menu{
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	margin: 0;
	background: #334;
	position: fixed;
	left: 0;
	top: 50px;
	width: 100%;

	overflow-y: auto;
	height: calc(100% - 50px);

	left: 100%;
	transition: left 0.3s;
	}

	.navLink:hover,
	.navLink_active{
		background-color: #034574;
		transition: 0.5s;
	}


	.logo{
		font-size: 20px;
		margin-left: 20px;
	}

	.navCnt a{
		color: #fff;
		line-height: 20px;
	}

	.nav-toggle{
		cursor: pointer;
		color: #fff;
		background: transparent;
		border: none;
		padding: 0 20px;
		font-size: 25px;
	    line-height: 30px;
		display: block;
	}

	.navVisible{
		left: 0;
	}
	.nav-toggle:focus:not(:focus-visible){
		outline: none;
	}
	.navCnt img{
		width: 100px;
	}
	.book{
		top: 50px!important
	}
	.book3{
		display: none;
	}
}




.waves-cnt{
	width: 100%;
	transform: rotate(180deg);
	z-index: -10;
}

.waves{
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


.navCnt img{
    top: 5px;
    width: 55px;
    height: 55px;
}

.cuaderno{
	background: linear-gradient(to right, #136a8a, #267871 );
	padding-bottom: 20px;
	font-family: sans-serif;
	margin: 0 30px 0 30px;
	border-radius: 10px;
}
.cuadn-ctn{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.cuadn-ctn h2{
	text-transform: uppercase;
	padding: 20px;
	text-align: center;
	background-color: #5D6D7E;
	box-shadow: 0 0 10px 2px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 0 0 520px 520px;
}
.Linecdn{
	background-color: #034574;
	font-weight: bold;
	color: #ca7;
	width: 70%;
	border-radius: 20px;
	display: flex;
	padding: 15px;
	justify-content: space-around;
	margin: 0 0 20px 0;
}
.seeCtn{
	background-color: #478;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}
.seeCtn2{
	background-color: #478;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}
.seeCtn:focus{
	box-shadow: 4px 3px 0px 0;
}

.animate__rubberBand{
	font-size: 20px;
	text-transform: uppercase;
}
.addCdrn{
	background-color: #ab9;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.addCtnr{
	margin: 20px 0 5px 0;
	display: flex;
	width: 50%;
	justify-content: end;
}

.book{
	margin: 0;
	background: #987;
	position: fixed;
	top: 70px;
	width: 100%;

	overflow-y: auto;
	height: calc(100% - 50px);

	transition: left 0.5s;
	display: none;
	
}

.bookVisible{
	display: block;
	left:6%;
}

.btn-book{
	padding: 20px;
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
	background: linear-gradient(to right,#43C6AC,#191654);
	border: none;
	margin: 10px 0 20px 0;
	left: 0px;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	z-index: 10px;
	cursor: pointer;
}

.bookInvisible{
	display: none;
	left: 100%;
}

.book span{
	padding: 0 20px 0 0;
}
.bookElem{
	background-color: #fff;
	width: 80%;
	margin-left: 8%;
	border-radius: 10px;
}

.bookElem .text_add{
	display: flex;	
	width: 100%;
	justify-content: center;
	scroll-behavior: smooth;
	overflow: auto;
}

.bookElem .text_add::-webkit-scrollbar:vertical{
	width:10px;
}
.bookElem .text_add::-webkit-scrollbar {
   -webkit-appearance: none;
}


.bookItems{
   padding: 10px;
   background-color: #034574;
   border-radius: 0 0px 10px 5px;
}

.bookItems li{
	color: #aaa;
	margin: 0 10px 0 5px;
	cursor: pointer;
}

.bookItems li:nth-child(1){
	padding-right: 15px;
	border-right: 1px solid #fff;
}

.canvaText{
	position: absolute;
	margin-top: 2.4%;
	width: 35%;
	overflow: hidden;
}


.Inhidden{
	display: none;
}
.inpVisible{
	display: block;
	margin: 10px;
	width: 20%;
}





.book3 {
	transform-style: preserve-3d;
	position: relative;
	height: 300px;
	cursor: pointer;
	backface-visibility: visible;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
	transform-style: preserve-3d;
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0; left: 0;
	transform-origin: left center;
	transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
	background: navy;
  }
  
  .front, .page1, .page3, .page5 {
	border-bottom-right-radius: .5em;
	border-top-right-radius: .5em;
  }
  
  .back, .page2, .page4, .page6 {
	border-bottom-right-radius: .5em;
	border-top-right-radius: .5em;
  }
  
  .page1 { 
	background: #efefef;
  }
  
  .page2 {
	background: #efefef;
  }
  
  .page3 {
	background: #f5f5f5;
  }
  
  .page4 {
	background: #f5f5f5;
  }
  
  .page5 {
	background: #fafafa;
  }
  
  .page6 {
	background: #fdfdfd;
  }
  
  .book3:hover .front {
	transform: rotateY(-160deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page1 {
	transform: rotateY(-150deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page2 {
	transform: rotateY(-30deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page3 {
	transform: rotateY(-140deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page4 {
	transform: rotateY(-40deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page5 {
	transform: rotateY(-130deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .page6 {
	transform: rotateY(-50deg) scale(1.1);
	box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .book3:hover .back {
	transform: rotateY(-20deg) scale(1.1);
  }

  .pagxd{
	width: 100%;
	height: 100%;
  }

  .title{
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 40px;
	padding: 10px;
	color: #fff;
	width: 100%;
	height: 100%;
  }

  .link{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 90px;
  }

  .textRotate{
	padding: 10px;
	text-transform: uppercase;
	transform: rotateY(180deg);
  }

  .opaImg{
	filter: blur(0.5px);
	overflow: hidden;
  }

  .book3Cnt{
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
  }

  .flexBtn3{
	position: absolute;
	margin-top: -30px;
  }

  .flexBtn3 button{
	padding: 4px;
	margin: 0 10px 0 0;
	border-radius: 5px;
	background: #0afd;
	text-transform: uppercase;
	border: 1px solid #000;
	font-weight: bold;
	cursor: pointer;
  }