*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(#151728, #000, #151728);
}



li{
	display: inline-block;
	list-style: none;
}

header{
	background: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
}

.navCnt{
	display: flex;
	justify-content: space-around;
	line-height: 70px;
}

.nav-menu{
	display: flex;
	justify-content: space-around;
}

.navElemt{
	margin: 0 20px;
	line-height: 70px;
	width: max-content;
	text-transform: uppercase;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
}

.navCnt a{
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
}

.nav-toggle{
	color: #fff;
	background: transparent;
	border: none;
	padding: 0 20px;
	font-size: 25px;

	line-height: 60px;
	display: none;
}
.navLink{
	padding: 5px;
}
.navLink:hover,
	.navLink_active{
		background-color: #478;
		transition: 0.5s;
	}





.btn-ejemp{
	padding: 20px;
	background: linear-gradient(to right,#16222A,#3A6073); 	
}
.exmCnt{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.frt-line{
	margin-top: 16px;
	padding: 10px 0;
	display: flex;
	justify-content: space-around;
	border-radius: 20px;
	width: 70%;
	background: #123;
	color: #999;
}
.frt-line::before{
	content: '-';
}


.Ftitle{
	margin-top: 80px;
	padding: 10px;
	background: #545667;
	color: #000;
	text-align: center;
}


.Ftitle p{
	padding: 10px;
}
.Txt-Undl{
	text-decoration: underline;
	text-transform: capitalize;
}

.dvdLin{
	border-bottom: 2px solid #546a;
	width: 90%;
	height: 1pc;
}

button{
	background: #876225;
	padding: 6px;
	cursor: pointer;
	border: 0;
	font-size: 10px;
	text-transform: uppercase;
	-webkit-box-shadow: 8px 11px 17px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 11px 17px -6px rgba(0,0,0,0.75);
box-shadow: 8px 11px 17px -6px rgba(0,0,0,0.75);
border-radius: 10px;
}














@media (max-width: 768px) {
	header{
		height: 50px;
		z-index: 100;
	}

	.navCnt{
	display: flex;
	justify-content: space-between;
	}

	.nav-menu{
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	margin: 0;
	background: #334;
	position: fixed;
	left: 0;
	top: 50px;
	width: 100%;

	overflow-y: auto;
	height: calc(100% - 50px);

	left: 100%;
	transition: left 0.3s;
	}

	.navLink:hover,
	.navLink_active{
		background-color: #034574;
		transition: 0.5s;
	}


	.logo{
		font-size: 20px;
		margin-left: 20px;
	}

	.navCnt a{
		color: #fff;
		line-height: 20px;
	}

	.nav-toggle{
		cursor: pointer;
		color: #fff;
		background: transparent;
		border: none;
		padding: 0 20px;
		font-size: 25px;
	    line-height: 30px;
		display: block;
	}

	.navVisible{
		left: 0;
	}
	.nav-toggle:focus:not(:focus-visible){
		outline: none;
	}
}





.navCnt img{
    position: relative;
    top: 5px;
    width: 55px;
    height: 55px;
}