*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #000;
}



li{
	display: inline-block;
	list-style: none;
}

header{
	background: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
}

.navCnt{
	display: flex;
	justify-content: space-around;
}

.nav-menu{
	display: flex;
	justify-content: space-around;
}

.navElemt{
	margin: 0 20px;
	line-height: 70px;
	width: max-content;
	text-transform: uppercase;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	line-height: 70px;
}

.navCnt a{
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
}

.nav-toggle{
	color: #fff;
	background: transparent;
	border: none;
	padding: 0 20px;
	font-size: 25px;

	line-height: 60px;
	display: none;
}
.navLink{
	padding: 5px;
}
.navLink:hover,
	.navLink_active{
		background-color: #478;
		transition: 0.5s;
	}








.table-cnt{
	margin-top: 70px;
	background: #444;
	height: 100%;
}


.Addbtn-cnt h1{
	color: #fff;
	display: flex;
	width: 100%;
	justify-content: center;
}
.Addbtn-cnt{
	padding: 20px 0;
}

.Addbtn-cnt span{
	display: flex;
	justify-content: end;
	margin-right: 15%;
}


.Addbtn-cnt input, button{
	background: #098;
	border: none;
	padding: 5px 25px;
	border-radius: 20px;
	cursor: pointer;
}



.dragArea{
	background: linear-gradient(
#0f2027, 
#203a43,
#2c5364);
	color: #fff;
	margin: 0 20px;
}
.dragArea h3{
	background: #1f2333;
	width: 100%;
	display: flex;
	justify-content: center;
}
.galeryArea li{
	display: inline-block;
	list-style: none;
	padding: 20px 0;}
.galeryArea{
	padding: 0 25px 30px;
	display: grid;
	grid-template-columns: auto ;
	grid-gap: 4px;
	text-align: center;
}
.title-img{
	float: left;
	color: #000000;
	padding: 5px;
	background: #13f569;
	border-radius: 10px;
}
.galeryArea img{
	padding: 20px 0;

}
img{
	width: 55%;
	height: 100%;
}

.borde{
	margin: auto;
	border: 1px solid #000;
	width: 90%;
}
header{
	z-index: 10;
}

.imgScroll{
	z-index: -10;
}











@media (max-width: 768px) {
	header{
		height: 50px;
		z-index: 100;
	}

	.navCnt{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	}

	.nav-menu{
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	margin: 0;
	background: #334;
	position: fixed;
	left: 0;
	top: 50px;
	width: 100%;

	overflow-y: auto;
	height: calc(100% - 50px);

	left: 100%;
	transition: left 0.3s;
	}

	.navLink:hover,
	.navLink_active{
		background-color: #034574;
		transition: 0.5s;
	}


	.logo{
		font-size: 20px;
		margin-left: 20px;
	}

	.navCnt a{
		color: #fff;
	}

	.nav-toggle{
		cursor: pointer;
		color: #fff;
		background: transparent;
		border: none;
		padding: 0 20px;
		font-size: 25px;
	    line-height: 30px;
		display: block;
	}

	.navVisible{
		left: 0;
	}
	.nav-toggle:focus:not(:focus-visible){
		outline: none;
	}

	img{
		width: 100%;
		height: 100%;
	}


}

.navCnt img{
    position: absolute;
    top: 10px;
    left: 13%;
    width: 50px;
    height: 50px;
}