*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(#151728, #000, #151728);
	display: flex;
	justify-content: center;
}

.calendar-ctn
{
	position: relative;
	top: 3pc;
	width: 40pc;
	background: #455;
	border-radius: 10px;
}
summary{
	display: flex;
	padding: 5px;
	font-family: sans-serif;
	justify-content: space-around;
}
details p{
	display: flex;
	justify-content: space-around;
}
details p span:nth-child(2){
	position: relative;
	left: 7pc;
}
a{
	text-decoration: none;
	color: #000;
}
details p{
	opacity: 60%;
}
details p:nth-child(3){
	opacity: 100%;
}
.fin-ctn{
	width: 100px;
}
.jtg{
	display: flex;
	justify-content: center;
}
.widt-lrg{
	width: 60px;
}
details{
	padding: 4px;
}
details p{
	padding: 2px;
}
.first-txt{
	background: #4444;
	padding: 9px;
	border-bottom: 2px solid #4444;
	border-radius: 0 0 10% 10%;
}
.flx-input{
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.flx-input input:nth-child(1){
	width: 400px;
	font-size: 20px;
	background: transparent;
	border: 0;
	color: #fff;
}
input:focus{
	outline: none;
	border: 0;
	border-bottom: 2px solid #000;
}
.lst-elt{
	display: flex;
	justify-content: end;
}
.brd-frt{	
	display: flex;
	justify-content: space-around;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #444;
	width: 200px;
}
input{
	border: none;
	background: transparent;
	margin-left: 10px;
}
.dirt-cnt ul li{
	display: inline-block;
}
.dirt-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.dirt-cnt ul{
	display: flex;
	justify-content: space-between;
}
.dirt-cnt ul li:nth-child(1){
	margin-left: 30px;
}
.map{
	width: 85%;
}
.email-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.email-cnt ul{
	margin-left: 6%;
}
.email-cnt li{
	display: inline-block;
}
.email-cnt a{
	cursor: pointer;
	margin-left: 7px;
	color: #fff;
}
.audCnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.alarm-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.alarm-itm{
	list-style: none;
}
.alarm-itm li{
	padding: 8px;
}
.alarm-itm li i{
	margin-right: 18px;
}
select{
	background: transparent;
	border: none;
}
select option{
	background: transparent;
}
.txt-ctn{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.text-elm li{
	display: inline-block;
}
.text-elm li i:nth-child(1){
	display: flex;
	justify-content: start;
}
.li-txtrea{
	width: 95%;
}
textarea{
	background: transparent;
	border: none;
	position: relative;
	margin-left: 20px;
	max-height: 200px;	
	max-width: 100%;
	min-width: 100%;
	border-radius: 10px;
	padding: 2px;
}
.Inv-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.inv-elm li{
	display: inline-block;
	margin-left: 10px;
}

.Inv-cnt h4{
	padding: 10px ;
}
.invt-user{
	width: 300px;
}
.time-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.time-cnt li{
	display: inline-block;
	list-style: none;
}
.time-itm{
	display: flex;
	justify-content: center;
}
.img-cnt{
	padding: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 30px;
	background: #344;
}
.img-cnt li{
	display: inline-block;
	list-style: none;
}
.img-itm{
	display: flex;
	justify-content: space-between;
}

.img-snde:hover{
	cursor: pointer;
	animation: a-ant 0.2s linear 1 forwards;
}
@keyframes a-ant{
	0%{
	}
	100%{
		transform: rotate(360deg);
	}
}
.img-snde input{
	background: #3333;
}
button{
	background: #3333;
	padding: 3px;
	border-radius: 10px;
	font-size: 15px;

}
.butons-cnt{
	display: flex;
	justify-content: end;
	padding: 10px;
}

@media (max-width: 768px) {
	.calendar-ctn{
		width: 100%;
	}
	.map{
	width: 85%;
	}

	.li-txtrea{
		width: 90%;
	}

	textarea{
		margin-left: 20px;
		max-height: 200px;
		min-width: 100%;
	}
}